name: Push Artifact - React Native

on:
  push:
    branches:
      - main
    paths:
      - "sync-todo/v2/generated/react-native/**"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/push-to-artifact-repo
        with:
          source: ./sync-todo/v2/generated/react-native
          destination_repo: mongodb/template-app-react-native-todo.git
          access_token: ${{ secrets.ARTIFACT_REPO_ACCESS_TOKEN }}
