name: Push Artifact - Flutter

on:
  push:
    branches:
      - main
    paths:
      - "flutter_todo/**"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/push-to-artifact-repo
        with:
          source: ./flutter_todo
          destination_repo: mongodb/template-app-dart-flutter-todo.git
          access_token: ${{ secrets.ARTIFACT_REPO_ACCESS_TOKEN }}
